/* basics */
body {
    background: #333333;
    padding: 0 10%;
    font: 100%/1.5 'Nunito Sans', sans-serif;
  }
  
  h1 {
    margin: 0;
    line-height: 1;
    padding: 10px;
    color: #ffffff;
    text-align: center;
  }
  
  p {
    margin: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 1.2em;
    text-align: center;
  }
  
  a {
    color: #e56633;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  /* the grid */
  .grid-1 {
    display: grid;
    width: 100%;
    max-width: 770px;
    margin: 10% auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto 200px 200px auto 200px 200px 200px auto 200px 200px auto;
    grid-gap: 25px;
  }
  
  /* panels */
  .panel {
    color: #333333;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 0px 0px 5px #ffffff;
  }
  
  /* individual panels */
  .panel-title {
    box-shadow: none;
  }
  .panel-1 {
    background-image: url(https://images.unsplash.com/photo-1484136540910-d66bb475348d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1553&q=80);
    box-shadow: none;
  }
  .panel-2 {
    background-image: url(https://images.unsplash.com/photo-1642663699360-b36a54cb34e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y3VzdG9tJTIwY2FyfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=600&q=60);
  }
  .panel-3 {
    box-shadow: none;
  }
  .panel-4 {
    background-image: url(https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  }
  .panel-5 {
    background-image: url(https://images.unsplash.com/photo-1627392451460-7c944c413634?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  }
  .panel-6 {
    background-image: url(https://images.unsplash.com/photo-1631061344078-245c8771b1c2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  }
  .panel-7 {
    box-shadow: none;
  }
  .panel-8 {
    background-image: url(https://images.unsplash.com/photo-1606456252215-8a4ae05e91ad?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  }
  .panel-9 {
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/cat-008.svg);
    box-shadow: none;
  }
  .panel-copyright {
    box-shadow: none;
    font-size: .75em;
  }
  
  /* media query 1 */
  @media only screen and (min-width: 400px) {
    
    .grid-1 {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto 200px auto 200px 200px auto 200px auto;
    }  
    .panel-title,
    .panel-3,
    .panel-6,
    .panel-7,
    .panel-copyright {
      grid-column: span 2;
    }
    .panel-copyright {
      text-align: right;
    }
    .panel-7 {
      text-align: center;
    }
    h1 {
      font-size: 3em;
    }
    
  }
  
  /* media query 2 */
  @media only screen and (min-width: 600px) {
    
    .grid-1 {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto 200px 200px 200px auto;
    }
    .panel-title,
    .panel-copyright {
      grid-column: span 3;
    }
    .panel-3,
    .panel-6 {
      grid-column: auto;
    }
    .panel-8 {
      grid-column: span 2;
    }
    h1 {
      font-size: 3.5em;
    }
    p {
      font-size: 1.3em;
    }
    
    /* flexbox centering */
    .panel-3 {  
      display: flex;
      align-items: center;
    }
    
    /* layering */
    
    .panel-1 {
      grid-column: 1;
      grid-row: 2;
      z-index: 1;
      margin: 0px 0 0 0px;
      box-shadow: 0 0px 0px 5px #ffffff;
    }
    
    .panel-2 {
      grid-column: 2;
      grid-row: 2;
      z-index: 1;
      margin: 0px 0 0 0px;
    }
        .panel-3 {
      grid-column: 3;
      grid-row: 3;
      z-index: 1;
      margin: 0px 0 0 0px;
    }
    
    .panel-7 {
      grid-column: 1;
      grid-row: 4;
      z-index: 1;
      margin: -5px 0 0 -10px;
      transform: rotate(-2deg);
    }
    
    .panel-7 p {
      background: #333333;
      box-shadow: 0 0px 0px 5px #ffffff;
      text-align: left;
    }

    .panel-8 {
      grid-column: 1 / span 3;
      grid-row: 4;
      background-size: 100%;
      background-position: center;
    }
    
  }